.bg-img {
    background-image: url("../../public/images/desktop/image-header.jpg");
    min-height: 755px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &>.menu-bar {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;

        &>.contact-btn {
            background-color: white;
            border-radius: 1.5rem;
            margin: 0.5rem;
            font-size: 1em;
            font-weight: bold;
            border: none;
            padding: 15px 28px;
            text-align: center;
            text-decoration: none;
            font-family: inherit;
        }

        &>.hamburger {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: none;

            &>div {
                height: 4px;
                background: #ffffff;
                width: 100%;
                border-radius: 20px;
            }
        }

    }


    .create-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-top: 6rem;
        gap: 4rem;

        &>.creative {
            text-align: center;
        }
    }
}



h1 {
    color: white;
    font-size: 3.5em;
    font-weight: bolder;
    font-family: inherit;
}

h2 {
    color: white;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: inherit;
}

h3 {
    color: white;
    font-family: inherit;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &>.onestyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        gap: 8px;

        &>h4 {
            font-size: 2em;
            font-family: inherit;
        }

        &>p {
            font-size: 1.2em;
            color: rgb(95, 95, 95);
            font-family: inherit;
        }

        &>a {
            font-size: 1.2em;
            color: black;
            border-bottom: rgb(160, 255, 115) 4px solid;
            text-decoration: none;
            font-weight: 1000;
            font-family: inherit;
        }
    }
}

img {
    max-width: 100%;
}





@media only screen and (max-width: 730px) {
    .container {
        grid-template-columns: 1fr;
    }

    .onestyle {
        margin: 8rem auto;
        width: 95%;
    }

    .link {
        display: none;
    }

    .bar {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        padding: 0;
        color: #25564b;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}