.wrapper {
  &>.grid-container {
    display: inherit;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    text-align: center;

    &>.grid-item {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      &.card {
        display: inline-block;
        // border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 240px; // 22%;
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        background-color: #3ebfff;
      }

      &>.title {
        margin-left: -21px;
        background: #ccc;
        z-index: 1000;
      }
    }

  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.b-bottom {
  border-bottom: 1px solid #ff5f00;
  margin-top: 0px;
}