/* Custom properties */
:root {
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}